.list {
  max-width: 400px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
}

.lesson {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  padding: 5px;
  border-bottom: 1px solid #000;
  span{
    text-align: center;
    flex: 1;
  }
}

.sublesson {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  padding: 5px;
  padding-left: 20px;

}

.material{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    padding: 5px;
    padding-left: 30px;
    border-left: 1px solid #000;
}