@import "../../../assets/styles/var.scss";
.li {
	padding-left: 23px;
	position: relative;
    color: $title;
	&::before {
		border: 4px solid $title;
		border-radius: 100%;
		content: "";
		height: 12px;
		left: 0;
		position: absolute;
		top: 5px;
		width: 12px;
	}
}
.mb1 {
	margin-bottom: 10px;
}
.mb2 {
	margin-bottom: 20px;
}
.mb3 {
	margin-bottom: 30px;
}
