@import "../../../../../../assets/styles/var.scss";
.root {
  .form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  textarea {
    resize: none;
    height: 120px;
  }
}
