@import "../../../../assets/styles/var.scss";
$mb: 10px;
.root {
	overflow-x:auto;
	overflow-y: hidden;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $title;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: $mb;
		&:first-child {
			font-weight: 700;
			font-size: 34px;
			line-height: 41px;
			margin-bottom: 20px;
		}
	}
	p {
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: $text;
		margin-bottom: $mb;
	}
	img {
		border-radius: $mb;
		width: 100%;
		height: auto;
		display: block;
		margin-bottom: 20px;
	}
	ul {
		margin-bottom: $mb;
		li {
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			margin-bottom: 5px;
			list-style: inside;
			color: $text;
		}
	}
	ol {
		margin: 0;
		padding-left: 20px;
		li {
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			margin-bottom: 5px;

			color: $text;
		}
	}
	audio {
		margin-bottom: 20px;
	}
	table {
		width: 100%;
		max-width: 100%;
		margin-bottom: 1rem;
		background-color: transparent;
		border-collapse: collapse;
	}

	/* Стили для строк таблицы */
	table > tbody > tr {
		border-top: 1px solid #dee2e6;
	}

	/* Стили для ячеек таблицы */
	table > tbody > tr > td,
	table > tbody > tr > th,
	table > tfoot > tr > td,
	table > tfoot > tr > th {
		padding: 0.75rem;
		vertical-align: top;
		border-top: 0;
	}

	/* Стили для заголовков таблицы */
	table > thead > tr > th {
		vertical-align: bottom;
		border-bottom: 2px solid #dee2e6;
	}

	/* Стили для таблицы с полосами */
	table tbody tr:nth-of-type(odd) {
		background-color: rgba(0, 0, 0, 0.05);
	}

	/* Стили для таблицы с выделенными строками */
	table:hover tbody tr:hover {
		background-color: rgba(0, 0, 0, 0.075);
	}

	/* Стили для таблицы с рамкой */
	table {
		border: 1px solid #dee2e6;
	}

	/* Стили для ячеек таблицы с рамкой */
	table td,
	table th {
		border: 1px solid #dee2e6;
	}
}

.arrow {
	display: flex;
	padding: 20px 0;
	justify-content: space-between;
	.button {
		font-size: 12px;
	}
}
